.list {
  li {
    display: flex;
    flex-direction: column;
    color: #fff;
    font-size: 14px;
    line-height: 18px;
    border-radius: 12px;
    padding: 8px;

    &:hover {
      background-color: rgba($color: #fff, $alpha: 0.1);
      cursor: pointer;
    }
  }

  .selected {
    background-color: rgba($color: #fff, $alpha: 0.2);
  }
}
